


body {font-family:Verdana, Arial, sans-serif;
      
}
#wrapper { background-color: #b3e6ce63;
           color: #000066;
           margin: auto;
           
/*           min-width: 940px;*/
}
#leftcolumn { float: left;
	          width: 150px;
              margin-left: 5px;
              position: absolute;
              left: 50px;
              
}

leftcolumn input {
    float: left;
    position: absolute;
    left: 100px;
}
#rightcolumn {
               margin-left: 155px;
/*               background-color: #ebf39e;*/
               color: #000000;
               padding: 10px 20px;
               margin-top: -300px;
               
}
header{ background-color: #1c378c;
        color: #00005D;
        padding: 10px 10px 10px 155px;
        height: 75px;
        }


header{ background-color: #1c378c;
        color: #00005D;
        padding: 10px 10px 10px 155px;
        height: 75px;
        }


    
h2{ 
/*    color: #869dc7;*/
    font-family: arial, sans-serif;
    margin: 5px;
    color: 5d4100;
    }    
    
h3 {
     /* color: #869dc7; */
     font-family: arial, sans-serif;

}


.content {padding: 20px 20px 0 20px;
          height: 525px;
         
}
@media screen and (max-width: 600px) {
.content {padding: 20px 20px 0 20px;
          height: 525px;
         
}
}

.content ul{
  list-style-position: inside;
  left: 200px;
}

.content h3{
 position: relative;
 left: 35px;
 top: 100px;
}

.content p {
       margin-top: 0px;
       margin-bottom: 0px;
    }

#floatright { margin: 20px;
             float: left;
}

footer { font-size:70%;
         text-align: center;
		 clear: right;
         padding-bottom: 20px;
         background-color:#deaa3a;
         margin-left: -155px;
         
}
@media screen and (max-width: 600px){
footer { 
    width: 100%;
}
}







nav ul { list-style-type: none;
         padding: 10px;
}
nav a {text-decoration: none;
       padding: 10px;
       font-weight: bold;
       color: #3f1f05;
       
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    
    }
header li{
    float: left;    
    }
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    left: -25px;
    
}

div.gallery {
    margin: 5px;
   
    float: left;
    width: 350px;
}


@media screen {

div.gallery {
      
      width: 100%;
      float: right;
      
     
}
}




div.gallery img {
    width: 25%;
    height: 150px;
    margin-top: 100px;
    margin-left: 50px;
    float: right;
}

div.desc {
    padding: 15px;
    text-align: center;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=submit] {
  background-color: #0693cd;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  width: 180px
}


/*
input[type=submit] {
    width: 25%;
    background-color: #1c378c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 500px;
}

input[type=submit]:hover {
    background-color: #45a049;
}
*/

#left-form {
    width: 50%;
    margin-top: 200px;
}

#rating {
    width: 25%;
}
