/*  Fonts  */
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}











/*  General CSS  */
body{
    background: #fff;
    margin: 0;

}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }
h4,h5              { color: #000000; font-weight:normal;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#leftcolumn {
  float: left;
  width: 25%;
  padding-top: 50px;
  padding-bottom: 60px;
}
#rightcolumn {
  float: left;
  width: 75%;
  padding-top: 50px;
  padding-bottom: 60px;
}




/* card section */

.card {
  box-shadow: 0rem .5rem 1rem rgba(0,0,0,.3);
  background-color: #fff;
  width: 100%;
  border-radius: 0.3rem;
  transition: all .2s ease-in-out;
  transform: scale(0.95);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 1rem 2rem rgba(0,0,0,0.2);
  transform: scale(1);
  cursor: pointer;
}

.content {
    padding: 2rem;
}
.content hr{
  border: none;
  height: 1px;
  color:  #ccc; /* old IE */
  background-color:  #ccc;/* Modern Browsers */
  width:100%;
  margin:30px 0px;
}


.content table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin-bottom: 30px;
  padding:5px;
  width: 100%;
}
.content img{
      width: 100%;
      height: auto!important;
      vertical-align: top;
}

tr {
  border: 1px solid #C1C3D1;
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-size:18px;
  font-weight:normal;
}
th {
  padding:20px;
  text-align:center;
  vertical-align:middle;
  border-right: 1px solid #C1C3D1;
  background-color:#ff5a60;
  color:#fff
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  border-right: 1px solid #C1C3D1;
}


/* css for low_level_search */
select {
  position: relative;
  display: block;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #514d4d;
  cursor: pointer;
  font-size: 20px;
}

.score
{
  padding-left: 5%;
  padding-right: 5%;
  color: #ff5a60;
}

.seperator
{
  padding-left: 5%;
  padding-right: 5%;
  color: #514d4d;
}

.button {
  border-radius: .25em;
  position: relative;
  background-color: #ff5a60;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

#total_price_show {
  display: block;
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-size:20px;
  font-weight:bold;
  border-radius: .25em;
  border-color: #ff5a60;
  border-style:solid;
  padding: 10px 20px;
  margin: 20px 0px;
}

.filter{
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 12px;
  font-weight: bolder;
  display: block;
}
.sorting_radio{
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  display: block;
  font-size: 12px;
  font-weight: bolder;
}


/*  header Section  */
header{
    width: 100%;
    height: 100px;
    background: rgba(28, 54, 85, .2);
}

header .logo{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    float: left;
}


header nav{
    float: right;
}

header nav ul{
    margin-top: 40px;
    list-style: none;
    overflow: hidden;
    float: left;
}

header nav ul li{
    float: left;
    margin-left: 50px;
}

header nav ul li a,
header nav .login_btn{
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;

}

header nav .login_btn{
    float: right;
    margin: 30px 0 0 50px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;

    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

header nav .login_btn:hover{
    background: #ffffff;
    color: #1c3655;
}


/* hero section */
.hero{
        width: 100%;
}

.hero .caption{
  /* width: 1100px;
  margin: 0 auto;
  position: relative; */
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%;
    /* margin-top: -105px; */
    z-index: 10;
}

.hero .caption h2{
    color: #fff;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    /* font-family: "lato-regular", Helvetica, Arial, sans-serif; */
    font-size: 100px;
    font-weight: lighter;
    margin: 20px;
    position: relative;
    display: block;
}

.hero .caption h3{
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}

.short_color{
    height: 100px;
    position: relative;
    /* background: url('../img/hero.jpg') no-repeat bottom center; */
    background-color: #95badf;
}

.short_background{
    height: 400px;
    position: relative;
    background: url('../img/night_hotel.jpg') no-repeat bottom center;
    /* background-color:  #95badf; */
    background-size: cover;
}

.long_background{
      background: url('../img/night_hotel.jpg') no-repeat bottom center;
      height: 800px;
      position: relative;
      background-size: cover;
}

.full_background{
  background: url('../img/blue_hotel.jpg') no-repeat bottom center;
  height: 900px;
  position: relative;
  background-size: cover;
}

.help_page{
  height: 400px;
  position: relative;
  background: url('../img/laptop_dark_blur_crop.jpg') no-repeat bottom center;
  /* background-color:  #95badf; */
  background-size: cover;
}

.details h1{
  color: #000000;
  margin:50px 0;
}
.details p{
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  margin:50px 0;
}

#more {display: none;}

/*  Search Section  */

.search{
    width: 100%;
    height: 200px;
    background: #bfd9f2;
    position: relative;
}



.search .advanced_search{
    width: 100%;
    position: absolute;
    left: 0;
    background: #cbe0f4;
}


.search .advanced_search #check_in_date,
.search .advanced_search #check_out_date{
    display: block;
    width: 509px;
    height: 100px;
    border: 0;
    margin: 0;
    padding: 0 20px;
    outline: none;
    background: #cbe0f4;
}
.search .advanced_search #check_in_date,
.search .advanced_search #check_out_date{
    width: 429px;
    background: url('../img/calendar_icon.png') no-repeat;
    background-position: 484px 50%;
    padding: 0 100px 0 20px;
}
.search .advanced_search #keywords{
    display: block;
    width: 650px;
    height: 100px;
    border: 0;
    margin: 0;
    padding: 0 20px;
    outline: none;
    background: #cbe0f4;
}


.search .advanced_search #count{
  display: block;
  width: 200px;
  height: 100px;
  border: 0;
  margin: 0;
  outline: none;
  background: #cbe0f4;
  background-position: 484px 50%;
  padding: 0 100px 0 20px;
}


.search .advanced_search .float{
    float: left;
}

.search .advanced_search .search_fields{
    overflow: hidden;
    border-bottom: 1px solid #aac8e4;
}

.search .advanced_search .field_sep{
    display: inline-block;
    width: 1px;
    height: 60px;
    border: 0;
    background: #aac8e4;
    margin: 20px 0 0 0;
    padding: 0;
}



.search .advanced_search #check_in_date,
.search .advanced_search #check_out_date,
.search .advanced_search #min_price,
.search .advanced_search #max_price,
.search .advanced_search #keywords,
.search .advanced_search #count
{
    color: #514d4d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
}



.search .advanced_search #check_in_date::placeholder,
.search .advanced_search #check_out_date::placeholder,
.search .advanced_search #min_price::placeholder,
.search .advanced_search #max_price::placeholder,
.search .advanced_search #keywords::placeholder{
   color: #514d4d;
}

option[value=""][disabled] {
  display: none;
}
select {
  text-indent: 5px;
}


.search .advanced_search #submit_search{
  display: block;
  width: 200px;
  height: 100px;
  border: 0;
  margin: 0;
  padding: 0 20px;
  outline: none;
  background: #cbe0f4;
  text-align: center;
}
.search .advanced_search #submit_search
{
    color: #514d4d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: bold;
}

.search .advanced_search #submit_search:hover
{
    background: #b6d3f0;
}




/* review section */

.review{
    /* width: 100%; */
    /* height: 100px; */
    /* background: #bfd9f2; */
    /* position: relative; */
}

.review #review{
    /* display: block; */
    width: 90%;
    height: 100px;
    /* float: left; */
    border: 10;
    /* outline: none; */
    /* margin: 10px; */
    padding: 10px;
		align: left;
    /* background: #bfd9f2; */
    /* color: #ffffff; */
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 15px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    /* line-height: 22px; */
}

.review h2{
	text-align: left;
	margin-top: 20px;
}

/*
*{
  margin: 0;
  padding: 0;
} */
.rate {
		display: inline-block;
		vertical-align: top;
    height: 46px;
    padding: 10px 0px 20px 0px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ff5a60;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ff5a60;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ff5a60;
}


img.rate_hotel{
    width: 80%;
    height: auto!important;
    vertical-align: top;
}



/*  listings section  */
.listings{
    padding: 50px 0;
}

.listings ul.properties_list{
    list-style: none;
    overflow: hidden;
}

.listings ul.properties_list li{
    display: block;
    width: 30.90909090909091%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 3.636363636363636% 3.636363636363636% 0;
}

.listings ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


.listings ul.properties_list li .price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}


.listings ul.properties_list li:nth-child(3n+0){
    margin-right: 0;
}

.listings ul li .property_details{
    width: 87.64705882352941%;
    padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings ul li .property_details h1,h2,h3,h4,h5,h6{
  text-align: left;
}

.listings ul li:hover .property_details{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

.listings ul li .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings ul li .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings ul li .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}

.listings ul li .property_details .property_size{
    color: #676767;
}

.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    color: #afcbe6;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
    color: #a0c3e5;
    border: 2px solid #a0c3e5;
}

.low_level{
  padding-top: 0;
}





/*  trips section  */
.triplistings{
    padding: 50px 0 100px 0;
}

.triplistings ul.trips_list{
    list-style: none;
    overflow: hidden;
}

.triplistings ul.trips_list li{
    display: block;
    width: 300px;
    height: auto;
    position: relative;
    float: left;
    margin: 0 40px 40px 0;
}

.triplistings ul.trips_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


.triplistings ul.trips_list li .price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}


.triplistings ul.trips_list li:nth-child(3n+0){
    margin-right: 0;
}

.triplistings ul li .trip_details{
    width: 258px;
    padding: 10px 20px 14px 20px;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.triplistings ul li:hover .trip_details{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

.triplistings ul li .trip_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.triplistings ul li .trip_details h1 a{
    text-decoration: none;
    color: #666464;
}

.triplistings ul li .trip_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
}

.triplistings ul li .trip_details .property_size{
    color: #676767;
}


/* footer section */
footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 6em;
    margin-top: 0em;
    width: 100%;
    padding: 10px 0;
    background: #95badf;
    text-align: center;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size:18px;
    font-weight:normal;
    line-height: 300%;
}

footer a{
  font-size:16px;
  margin-left: 20px;
  text-decoration: none;
  color:#fff;
}
